.card {
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
}

.flx-col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  height: 65% !important;
  margin: 0 auto;
  object-fit: contain;
}

.img {
  height: 100%;
}

.h200 {
  height: 200px;
}

.p5 {
  padding: 5px;
}
