<ion-content class="ion-padding">
  <ion-card color="light" class="card">
    <div class="img-container">
      <ion-img [alt]="breed.dog" class="img" [src]="getDogImg()"></ion-img>
    </div>
    <ion-card-content>
      <ion-buttons class="flx-col-between" #buttons>
        <ng-container *ngFor="let dog of breed.dogs">
          <ion-button fill="outline" style="margin-bottom: 10px; width: 100%;" (click)="chooseDog(dog, $event)">
            {{dog}}
          </ion-button>
        </ng-container>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
